<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Form.css">
</head>

<body>
    <form action="/serviceSubmit" method="POST">
        <div class="formGroup">
            <label for="name" class="formLabel">Customer Name </label>
            <input  type="text"  name="customerName" class="formInput">
        </div>
        
        <div class="formGroup">
            <label for="name" class="formLabel">Vehicle Number</label>
            <input  type="text"  name="vehicleNumber" class="formInput">
        </div>
        <div class="formGroup">
            <label for="name" class="formLabel">Pickup Date</label>
            <input  type="date"  name="pickupDate" class="formInput">
        </div>
        <div class="formGroup">
            <label for="name" class="formLabel">Drop Date</label>
            <input  type="date"  name="dropDate" class="formInput">
        </div>
        <div class="formGroup">
            <label for="name" class="formLabel">Location</label>
            <input  type="text"  name="location" class="formInput">
        </div>
        <div class="formGroup">
            <label for="name" class="formLabel">Service Location</label>
            <input  type="text"  name="serviceLocation" class="formInput">
        </div>
        <div class="formGroup">
            <label for="name" class="formLabel"> Service Price</label>
            <input  type="text"  name="servicePrice" class="formInput">
        </div>
        <div class="formGroup">
            <label for="name" class="formLabel">  Payble Amount</label>
            <input  type="text"  name="payableAmount" class="formInput">
        </div>



        <button type="submit">Submit</button>
    </form>
</body>

</html>l